{
    "DEFAULT": {
        "URL" : "http://...",
        "ID": "...",
        "PASSWORD": "...",
	"TOKEN": "...",
	"CHAT-ID": "..."
    },
    "ONLINE": {
        "URL" : "http://...",
        "ID": "...",
        "PASSWORD": "...",
	"TOKEN": "...",
	"CHAT-ID": "..."
    },
    "TEST": {
        "URL" : "http://...",
        "ID": "...",
        "PASSWORD": "...",
	"TOKEN": "...",
	"CHAT-ID": "..."
    }
}
